<div class="explore-screen">
  <div class="menu">
    <div class="tree-button">
      <el-button :type="showTreeButtonType" icon="sitemap" @click="toggleTree"></el-button>
    </div>
    <el-button-group>
      <el-button type="primary" icon="edit">Edit</el-button>
      <el-button type="primary" icon="time">History</el-button>
      <!--<el-button type="primary" icon="time">Resolve</el-button>-->
    </el-button-group>
    <simple-search :input="searchInput"></simple-search>
  </div>
  <div class="main-area">
    <zk-tree v-show="showTree"></zk-tree>
    <edition-area></edition-area>
  </div>
</div>
